*{
    /* background-color: #4F6D7A; */
}


body {
    background-color: #4F6D7A;
    font-family: 'Roboto Slab', serif
}

.signup-box {
    width: 360px;
    height: 610px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px
}

form input {
    width: 100%;
    padding: 7px;
    border:none;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
}
input [type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 25px;
    border: none;
    background-color: #C9DCE4;
    color: white;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2 {
    text-align: center;
    color:white;
    font-size: 15px;
    margin-top: 10px;
}
