<div class='row'>
  <form id='create-post-form'>
    <input id='create-post-title' type='text' />
    <textarea id='create-post-content'></textarea>
    <button id='create-post-save-button'>Save Post</button>
  </form>
</div>

<script src='/js/post.js'></script>