<div class='row'>
  <div class='card'>
    <div class='card-header'>{{title}}</div>
    <div class='card-body'>
      <textarea id='edit-blog-textarea'>{{content}}</textarea>
    </div>
    <div class='card-footer text-muted'>
      <button id='edit-blog-save-button' data-id='{{id}}'>Save Blog</button>
    </div>
  </div>
</div>