<br/><br/>
    <section>
      <div class="container">
        <div class="notification is-primary" id="intro">
          <center>CHECK OUT SOME NEW SELLERS!</center>
        </div>
      </div>
    </section>

    <!--  -->
    <br/>
    <br/>
    <br/>
    <br/>
    <section class="sellers">
      <div class="container">
        <div class="columns ">
          <div class="column">
            <a href="/profile/1"><div class="notification seller" id="seller1">
              <p>SELLER 1</p>
            </div>
          </a>
          </img>
          </div>
        
          <div class="column">
            <a href="/profile/2"><div class="notification seller" id="seller2">
              <p>SELLER 2</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="/profile/3"><div class="notification seller" id="seller3">
              <p>SELLER 3</p>
            </div>
            </a>
          </div>
          <div class="column">
            <a href="/profile/4"><div class="notification seller" id="seller4">
              <p>SELLER 4</p>
            </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>