:root {
    --main-color: #4F6D7A;
    --sec-color: #C9DCE4;
    --trd-color: #EAEAEA;
}

* {
    font-family: "Roboto Slab", serif;
}

.logo {
    color: var(--main-color)
}

#signup {
    background-color: var(--sec-color);
    color: black;
}

#login {
    background-color: var(--trd-color);
}

#cart {
    background-color: var(--main-color);
}

#intro {
    background-color: var(--sec-color);
    color: black;
}

.sellers {
    background-color: var(--trd-color);
    height: 500px;
}

.columns {
    background-color: var(--main-color);
    height: 350px;
    margin-top: 50px;
}

.seller {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

/* #4F6D7A, #C9DCE4, #EAEAEA */