:root {
    --main-color: #4F6D7A;
    --sec-color: #C9DCE4;
    --trd-color: #EAEAEA;
}

* {
    font-family: "Roboto Slab", serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    width: 550px;
    height: 450px;
    background-color: white;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    /* width: 80%; Could be more or less, depending on screen size */
    border-radius: 3px;
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  form {
    width: 300px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 15px
}

form input {
    width: 100%;
    padding: 7px;
    border:none;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}
input [type="button"]{
    width: 390px;
    height: 35px;
    margin-top: 15px;
    border: none;
    background-color: #C9DCE4;
    color: white;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.button {
    background-color: #C9DCE4;
    margin-top: 15px;
    opacity: 0.6;
    transition: 0.3s
}

.button:hover {opacity: 1;}
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
a {
    text-decoration: none;
}

.logo {
    color: var(--main-color);
    font-size: 3rem;
}

#signup {
    background-color: var(--sec-color);
    color: black;
}

#login {
    background-color: var(--trd-color);
}

#cart {
    background-color: var(--main-color);
    margin: 0px;
}

#intro {
    background-color: var(--sec-color);
    color: black;
}

.sellers {
    background-color: var(--trd-color);
    height: 500px;
}

.columns {
    background-color: var(--main-color);
    height: 350px;
    margin-top: 50px;
}

.seller {
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}

.seller p {
    margin-top: -9rem;
    text-align: center;
    font-weight: 500rem;
    color: black;
}

#seller1 {
    background-image: url(/public/images/ruben.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller2 {
    background-image: url(/public/images/novia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller3 {
    background-image: url(/public/images/fernado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller4 {
    background-image: url(/public/images/jason.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller1,
#seller2,
#seller3,
#seller4 {
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

#seller1:hover {
    transform: scale(1.2);
    opacity: .75;
}

#seller2:hover {
    transform: scale(1.2);
    opacity: .75;
}

#seller3:hover {
    transform: scale(1.2);
    opacity: .75;
}

#seller4:hover {
    transform: scale(1.2);
    opacity: .75;
}

#footer {
    background-color: var(--main-color);
}

.footer h1 {
    color: var(--sec-color)
}

.footer h5 {
    color: var(--trd-color)
}

.about p {
    color: var(--sec-color);

}

.social ul li a {
    color: var(--sec-color);
    padding-right: 10px;
}

.social ul li p {
    padding-right: 20px;
    color: var(--sec-color)
}

.email ul li a {
    color: var(--sec-color);
    padding-right: 20px;
}