:root {
    --main-color: #4F6D7A;
    --sec-color: #C9DCE4;
    --trd-color: #EAEAEA;
}

* {
    font-family: "Roboto Slab", serif;
}

.logo {
    color: var(--main-color)
}

#signup {
    background-color: var(--sec-color);
    color: black;
}

#login {
    background-color: var(--trd-color);
}

#cart {
    background-color: var(--main-color);
}

#intro {
    background-color: var(--sec-color);
    color: black;
}

.sellers {
    background-color: var(--trd-color);
    height: 500px;
}

.columns {
    background-color: var(--main-color);
    height: 350px;
    margin-top: 50px;
}

.seller {
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}

.seller p {
    margin-top: -9rem;
    text-align: center;
    font-weight: 500rem;
}

#seller1 {
    background-image: url(/public/images/ruben.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller2 {
    background-image: url(/public/images/novia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller3 {
    background-image: url(/public/images/fernado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#seller4 {
    background-image: url(/public/images/jason.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

#footer {
    background-color: var(--sec-color);
}