:root {
    --main-color: #4F6D7A;
    --sec-color: #C9DCE4;
    --trd-color: #EAEAEA;
}

* {
    font-family: "Roboto Slab", serif;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--main-color);
    font-size: 3rem;
}

#goBack {
    background-color: var(--main-color);
    color: var(--trd-color)
}

#signup {
    background-color: var(--sec-color);
    color: black;
}
/* Login Modal */


#login {
    background-color: var(--trd-color);
}

#cart {
    background-color: var(--main-color);
    color: white;
}

#info {
    background-color: var(--sec-color);
    color: black;
}

#sale {
    background-color: var(--main-color);
}

#footer {
    background-color: var(--main-color);
}

.footer h1 {
    color: var(--sec-color)
}

.footer h5 {
    color: var(--trd-color)
}

.about p {
    color: var(--sec-color);

}

.social ul li a {
    color: var(--sec-color);
    padding-right: 10px;
}

.social ul li p {
    padding-right: 20px;
    color: var(--sec-color)
}

.email ul li a {
    color: var(--sec-color);
    padding-right: 20px;
}
